.Signup{
    display: grid;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    gap: 0.7rem;
    margin-top: 10svh;
    text-align: left;
    background-color:  rgba(255, 255, 255, 0.847);
    padding: 3%;
    border-radius: 1rem;
    input:focus{
        outline: none;
    }
    
}
.Signin{
    display: grid;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    gap: 0.7rem;
    margin-top: 20svh;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.847);
    padding: 3%;
    border-radius: 1rem;
    input{
        height: 3rem;
    }
    input:focus{
        outline: none;
    }
    
}
.form-item
{       
        display: inline-block;
        position: relative;
        height: 3.5rem;
        border-radius: 0.4rem;
        border: none;
        text-align: left;
        font-weight: 100;
        font-size: medium;
        text-indent: 1svw;
        border: 1px solid orangered;
}
.password-showpassword{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-left: 1svw;
    height: 3.5rem;
    border-radius: 0.4rem;
    border: 1px solid orangered;
    input{
        border: none;
        width: 100%;
        font-size: medium;
        background-color: transparent;
    }
    input:focus
    {
        outline: none;
    }
    img{
        cursor: pointer;
        margin-right: 1.1svw;
    }
}
.submit-button{
        margin-top: 3svh;
        height: 3rem;
        border-radius: 0.4rem;
        border: none;
        font-size: larger;
        background-color: rgb(217, 105, 13);
        color: aliceblue;
        box-shadow: 2px 2px 2px rgba(88, 71, 96, 0.836);
        transition: background-color 0.2s ease-in;
}
.submit-button:hover{
    background-color: rgb(237, 170, 27);
    cursor: pointer;
}

.Navbar{
    display: flex;
    align-items: center;
    background-color: rgb(255, 132, 0);;
    margin: 0;
    padding: 2svh;
    width: 100%;
    border-radius: 10px;
}

.Login{
    margin-left: 15rem;
    text-decoration: none;
    color: black;
}
.Home-text{
    font-size: 1.5cm;
    padding: 0% 40% 0% 10%;
    span{
        color: rgb(214, 130, 13);
    }
}
.start-chatting-button
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 0% 0% 0% 10%;
    padding: 20px 2% 20px 2%;
    background-color: rgb(217, 105, 13);
    border-radius: 10px;
    box-shadow: 2px -2px 2px rgb(107, 71, 3);
    transition: background-color 0.1s ease-in;
}
.start-chatting-button:hover
{
    background-color: rgb(230, 187, 18);
}
.Footer-text{
    
    font-size: 0.8cm;
    padding: 5% 20% 0% 20%;
    span{
        color: rgb(214, 130, 13);
    }
}
.Footer{
    margin-top: 10svh;
    text-align: center;
}
.Line
{
    border-top: 2px solid rgb(224, 81, 15);
    width: 100%; 
    margin: 20px 0;
}
.links{
    display: block;
    float: right;
    margin-top: 10%;
    margin-bottom: 2%;
    a{
        margin-right: 10px;
    }
}
.Nav-items{
    display: flex;
    gap: 5svw;
    width: 80%;
    justify-content: flex-end;
}
.isActive{
    color: rgb(255, 254, 252);
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}
.isInActive{
        text-decoration: none;
        color: rgb(3, 3, 3);
        font-size: larger;
        font-weight: bolder;
        transition: color 0.2s ease-in;
}
.logout{
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    transition: color 0.2s ease-in;
}
.logout:hover{
    color: white;
}
.isInActive:hover{
    color: rgb(251, 247, 247);
}
.contacts{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    border-bottom: 1px solid rgb(201, 200, 200);
    margin-right: -8svw;
    padding-bottom: 1rem;
    img{
        margin-left: 2svw;
        border: 1px solid rgb(239, 122, 12);
        border-radius: 100%;
        
    }
    div{
        margin-left: 2svw;
    }
}
.contacts:hover{
    cursor: pointer;
}
.chatsidebar{
    background-color: aliceblue;
    padding-right: 8svw;
    border-radius: 10px;
    max-height: 44.5rem;
    width: 25svw;
    overflow: auto;
}
.chatsidebar::-webkit-scrollbar{
    display: none;
}
.main-chat-div{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.user-logo{
    display: flex;
    align-items: center;
    margin-top: 3svh;
    margin-left: 2svw;
    div{
        margin-left: 1svw;
    }
}
.avatar{
    border-radius: 100%;
    border: 2px solid rgb(255, 69, 0);
    width: 5rem;
    height: 5rem;
}
.search-box{
    display: flex;
    background-color: rgba(158, 155, 155, 0.389);
    padding-left: 1svw;
    margin-left: 3svw;
    margin-right: -6svw;
    margin-top: 2svh;
    height: 2rem;
    border-radius: 10px;
    input{
        border: none;
        width: 100%;
        font-size: medium;
        background-color: transparent;
    }
    input:focus
    {
        outline: none;
    }
    img{
        cursor: pointer;
    }
}
.main-chat{
    background-color: aliceblue;
    margin-left: 1svw;
    border-radius: 10px;
    text-align: left;
    width: 70svw;
    display: grid;
    grid-template-rows: 7rem 32rem 4rem;
}
.loading-screen{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
}
.spinner {
    border: 16px solid #242423;
    border-top: 16px solid rgb(255, 132, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.chat-title{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 132, 0);
    margin: 0;
    padding: 0;
    img{
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        margin-top: 1rem;
        margin-left: 2.5rem;
        border: 4px solid white;
    }
    div{
        margin-top: 2rem;
        margin-left: 2rem;
        color: white;
        font-size: x-large;
    }
    border-radius: 10px 10px 0px 0px;
  }
  .main-chat-bar{
    background-color: aliceblue;
    border-radius: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    input{
        width: calc(100% - 2vw); 
        height: calc(100% - 2vh);
        box-sizing: border-box;
        margin: 1rem;
        border: 1px solid orangered;
        border-radius: 10rem;
        text-indent: 1rem;
        font-size: large;
    }
    input:focus{
        outline: none;
    }
  }
  .chat-between-people{
    background-color: rgb(203, 202, 202);
    overflow: scroll;
  }
  .chat-between-people::-webkit-scrollbar{
    display: none;
  }
  .bubble {
    --r: 1.5rem;  /* the radius */
    --t: 1em; /* the size of the tail */
    max-width: 300px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1em;
    border-inline: var(--t) solid #0000;
    border-radius: calc(var(--r) + var(--t))/var(--r);
    font-size: large;
  }
  .left {
    --_p: 0;
    border-bottom-left-radius: 0 0;
    place-self: start;
    margin-right: auto;
    mask: 
      radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%) 
        var(--_p) 100%/var(--t) var(--t) no-repeat,
      linear-gradient(#000 0 0) padding-box;
    background: linear-gradient(135deg,aliceblue,aliceblue) border-box;
    
  }
  .right {
    --_p: 100%;
    border-bottom-right-radius: 0 0;
    place-self: end;
    margin-left: auto;
    mask: 
      radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%) 
        var(--_p) 100%/var(--t) var(--t) no-repeat,
      linear-gradient(#000 0 0) padding-box;
    background: linear-gradient(135deg,#ff6f00,#ff6f00) border-box;
    color: #fff;
  }
  .icons{
    display: flex;
    gap: 1svw;
    position:relative;
    transform: translateX(250%);
    img{
        border: none;
    }
  }
.profile-pic{
    display: flex;
    height: 97svh;
    font-family: "Gochi Hand", cursive;
}

.profilepic-sidebar{
    background-color: rgb(251, 251, 251);
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 2svw;
    outline: auto;
}
.editing-profilepic{
    flex: 1%;
    margin-left: 1svw;
    border-radius: 2svw;
    img{
        width: 100%;
        height: 100%;
    }
    outline: auto;
}
.eachbutton{
    margin-left: 1svw;
}
.onlyfirst{
    margin-top: 3svh;
}
input[type="range"] {
    appearance: none;
    width: 30px;
    height: 12px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1.7px solid black;
    border-radius: 20px;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #dcdcdc;
    border: 2px solid black;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 1.7px rgb(0, 0, 0);
}
.button {
    width: 91%;
    padding: 0;
    border: none;
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #b04f01;
  }
  
  .button span {
    color: white;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 0.1svw;
    background: #ff7605;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
  }
  
  .button:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
  }